
/*las variables*/



/*Nesting o anidamiento*/
@import "base/variables";
@import "components/header";
@import "components/seccion";
@import "components/pie-pagina";
@import "base/mapas";
@import "base/extends";
@import "base/mixin";
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}



        
    

